* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvtica Neue", Arial, sans-serif;
}

body {
    background-color: #F5F5F5;
    color: #f3f4f6;
    padding: 40px 20px 0 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.header-logo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #000000;
}

header p {
    color: #101011;
    font-size: 1rem;
}

.table-container {
    background-color: #ffffff;
    border: 1px solid #1f2937;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    min-width: max-content;
    border-collapse: collapse;
    text-align: left;
    font-size: 0.95rem;
}

th  {
    background-color: #ebb000;
    color: #000000;
    font-weight: 600;
    padding: 16px;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    border-bottom: 2px solid #1f2937;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 10;
}

th:hover {
    background-color: #d19d00;
}

th.active-sort {
    color: #000000;
    font-weight: bold;
}

th.active-sort .sort-icon {
    font-weight: 20000;
    opacity: 1;
    font-size: 1.2rem;
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

.sort-icon {
    display: inline-block;
    margin-left: 8px;
    font-size: 1.2rem;
    opacity: 0.85;
}

td {
    padding: 16px;
    border-bottom: 1px solid #1f2937;
    color: #000000;
    white-space: nowrap;
}

tr:hover td {
    background: #f3f3f3;
}

.rank-col {
    font-weight: 600;
    color: #000000;
    width: 90px;
    text-align: center;
    white-space: nowrap;
}

.model-name {
    font-weight: 600;
    color: #ffffff;
}

.table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.footer {
    margin-top: auto;
    padding: 24px 20px;
    font-size: 0.8rem;
    color: #6b7280;
    text-align: center;
    font-weight: 500;
}

.about-btn {
    margin-top: auto;
    margin-left: 12px;
    padding: 12px 0px;
    font-size: 0.8rem;
    color: #6b7280;
    font-weight: 500;
    display: inline-block;
}

.about-btn:hover {
    color: #45484d;
    background-color: transparent;
}

/*About Page START*/
.aboutPage-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #010207;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.aboutPage-btn:hover {
    background-color: #010207;
}

.about-card {
    background-color: #ffffff;
    border: 1px solid #1f2937;
    padding: 32px;
    color: #000000;
}

.about-card h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #000000;
}

.about-description {
    color: #374151;
    font-size: 1rem;
    margin-bottom: 24px;
}

.team-section h2 {
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 12px;
}

.team-list {
    list-style-type: disc;
    padding-left: 20px;
    color: #1f2937;
}

.team-list li {
    margin-bottom: 8px;
}
/*About Page END*/

.charts-wrapper {
    width: 100%;
    max-width: 500px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: auto;
    background-color: #ffffff;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.chart-box {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #1f2937;
    padding: 12px;
}

.chart-description {
    color: #374151;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: left;
    word-wrap: break-word;
}

.chart-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    display: block;
}

.section {
    margin-top: 40px;
    margin-bottom: 16px;
    text-align: left;
}

.section h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 6px;
}

.section p {
    font-size: 0.95rem;
    color: #4b5563;
    margin: 0;
}